body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #64fd64;
}

.card {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.card-header h2 {
    margin: 0;
}

.card-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.radio-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.radio-group label {
    margin-right: 10px;
}

textarea,
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.file-input-label {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.file-input-label i {
    margin-right: 5px;
}

.file-input {
    display: none;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
