/* MessageModal.css */
.chat-box {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 70%;
  }
  
  .sender {
    background-color: whitesmoke;
    align-self: flex-end;
    text-align: right;
  }
  
  .receiver {
    background-color: #007bff;
    color: white;
    align-self: flex-start;
  }
  
  .chat-box {
    display: flex;
    flex-direction: column;
  }
  